body {
  background-color: #fefae8 !important;
}

.reveal h2,
.reveal h3,
.reveal p,
.reveal ul,
.reveal ol {
  font-family: 'Open Sans', sans-serif !important;
  color: #272c3c !important;
}

.reveal h2 {
  font-size: 0.9em !important;
  text-transform: none;
}

.reveal h3 {
  font-size: 0.7em !important;
  text-transform: none;
}

.reveal p {
  font-size: 0.7em !important;
}

.reveal pre code {
  font-size: 0.9em !important;
  line-height: 1.1em !important;
  max-height: 800px;
  padding: 10px;
}

.reveal ul,
.reveal ol {
  align-self: flex-start;
  font-size: 0.65em !important;
  margin-left: 80px;
}

.reveal ul ul li {
  font-size: 1.4em !important;
}

.reveal ul ul {
  list-style-type: circle !important;
}

.reveal .title h2,
.reveal .title p {
  color: #fff !important;
}

img.logo {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  position: absolute;
  left: 50px;
  top: 0;
}

.reveal .slides section {
  display: flex !important;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
  min-height: 95% !important;
  width: 90%;
}

.slide-logo {
  color: #272c3c;
  display: flex;
  align-items: center;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 0.4em !important;
  font-weight: bold !important;
  position: absolute;
  left: 50px;
  top: 0;
}

.slide-logo img {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  width: 50px;
}

.slide-logo div {
  margin-left: 10px;
}

img.simple {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

a {
  color: #42b983 !important;
}

.muted {
  color: gray;
  font-weight: normal !important;
}

.reveal code.simple {
  background-color: #ff9;
  padding: 3px;
}
